@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 3rem;
  margin-top: 10px;
  margin-left: 10px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  border-radius: 2.5rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 55%;
  height: 3rem;
  background-color: white;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 2.5rem;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(82.5%);
  background-color: white;
}

.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: rgb(234, 234, 234);
}